  


<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themesbrand.com/veltrix/layouts/vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 May 2019 06:55:33 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
  <title>Veltrix - Responsive Bootstrap 4 Admin Dashboard</title>
  <meta content="Admin Dashboard" name="description">
  <meta content="Themesbrand" name="author">
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <!--Chartist Chart CSS -->
  <link rel="stylesheet" href="../plugins/chartist/css/chartist.min.css">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Begin page -->
  <div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
      <!-- LOGO -->
      @*<div class="topbar-left">
        <a href="index.html" class="logo">
          <span>
            <img src="assets/images/logo-light.png"
                 alt="" height="18">
          </span><i>
            <img src="assets/images/logo-sm.png" alt=""
                 height="22">
          </i>
        </a>
      </div>*@
      
    </div><!-- Top Bar End -->
    <!-- ========== Left Sidebar Start ========== -->
    
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      
      
    </div><!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
  </div><!-- END wrapper -->
  <!-- jQuery  -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/metisMenu.min.js"></script>
  <script src="assets/js/jquery.slimscroll.js"></script>
  <script src="assets/js/waves.min.js"></script>
  <!--Chartist Chart-->
  <script src="../plugins/chartist/js/chartist.min.js"></script>
  <script src="../plugins/chartist/js/chartist-plugin-tooltip.min.js"></script><!-- peity JS -->
  <script src="../plugins/peity-chart/jquery.peity.min.js"></script>
  <script src="assets/pages/dashboard.js"></script><!-- App js -->
  <script src="assets/js/app.js"></script>
</body>
<!-- Mirrored from themesbrand.com/veltrix/layouts/vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 May 2019 06:56:12 GMT -->

</html>

