
@{
  ViewData["Title"] = "Index";
}

  <div id="wrapper">
    <!-- Top Bar Start -->
    <!-- ============================================================== -->
    @await Html.PartialAsync("_LayoutHeader")
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">

        </div>
      </div>
    </div>

  </div>

