@model  IEnumerable<TME.Models.Team>

@{
  ViewData["Title"] = "Teams";
}


<style>
  .modal-lg {
    max-width: 40% !important;
  }
</style>




<div id="wrapper">
  <!-- Top Bar Start -->
  <!-- ============================================================== -->
  @await Html.PartialAsync("_LayoutHeader")
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">

      <div class="container-fluid">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <h4 class="page-title">Teams</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Team</a></li>
                @*<li class="breadcrumb-item active"></li>*@
              </ol>
            </div>
            <div class="col-sm-6">
              <div class="float-right d-none d-md-block">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg" aria-expanded="false">
                    + Add Team
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <!-- Begining of the modal-->
        <!--  Modal content for the above example -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                  Add Team
                </h5><button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  ×
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <form>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row ">
                          <div class="form-group col-md-6">
                            <label>Vendors*</label>
                            <input type="text" id="VentureName" name="VentureName" class="colorpicker-default form-control" placeholder="Enter your Vendors...">
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-md-12">
                            <label>Industry*</label>
                            <input type="text" id="Industry" name="Industry" class="colorpicker-default form-control" placeholder="Enter your Industry...">
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button id="submitTeam" name="submitTeam" type="button" class="btn btn-primary">Add Team</button>
                    </div>

                  </form>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- End of the Modal-->
        <!-- end row -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="mt-0 header-title"></h4>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="mt-0 header-title m-b-20"></h4>
                        <form class="repeater" enctype="multipart/form-data">
                          <div data-repeater-list="group-a">
                            <div data-repeater-item class="row">
                              <div class="form-group col-lg-3"></div>
                              <div class="form-group col-lg-6 dataTables_filter">
                                <label for=""></label> <input type="search" aria-controls="datatable-buttons" id="name" placeholder="Type name or email and press Enter to search ..." class="form-control">
                              </div>

                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div><!-- end row -->
                @*<p class="text-muted m-b-30">
                      DataTables has most features enabled by default, so all
                      you need to do to use it with your own tables is to call the construction
                      function: <code>$().DataTable();</code>.
                  </p>*@
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                  <thead>
                    <tr>
                      <th>Venture Name</th>
                      <th>Industry</th>
                      <th>No of Members</th>
                      <th>Date Created</th>
                      <th>View Details</th>
                    </tr>
                  </thead>
                  <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                      <td>@item.VentureName</td>
                      <td>@item.Industry</td>
                      <td>0</td>
                      <td>@item.DateCreated.ToString("MMM dd, yyyy")</td>
                      <td><button type="button" class="btn btn-primary" id="myModal2">View Info</button></td>
                    </tr>

                    }

                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- container-fluid -->
    </div>
  </div>
</div>


<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/waves.min.js"></script><!-- Required datatable js -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables/dataTables.bootstrap4.min.js"></script><!-- Buttons examples -->
<script src="../plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="../plugins/datatables/jszip.min.js"></script>
<script src="../plugins/datatables/pdfmake.min.js"></script>
<script src="../plugins/datatables/vfs_fonts.js"></script>
<script src="../plugins/datatables/buttons.html5.min.js"></script>
<script src="../plugins/datatables/buttons.print.min.js"></script>
<script src="../plugins/datatables/buttons.colVis.min.js"></script><!-- Responsive examples -->
<script src="../plugins/datatables/dataTables.responsive.min.js"></script>
<script src="../plugins/datatables/responsive.bootstrap4.min.js"></script><!-- Datatable init js -->
<script src="assets/pages/datatables.init.js"></script><!-- App js -->
<script src="assets/js/app.js"></script>



<script type="text/javascript">

  $(document).ready(function () {

    $("#submitTeam").click(function (event) {

      event.preventDefault();

      var PostVendor = {
        VentureName: $("#VentureName").val(),
        Industry: $("#Industry").val(),
      };


      console.log(PostVendor);

      $.ajax({
        type: "POST",
        url: "/Teams/AddTeam",
        data: JSON.stringify(PostVendor),
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        headers: {
          RequestVerificationToken:
            $('input:hidden[name="__RequestVerificationToken"]').val()
        },
        success: function (r) {

          if (r.msg == "Success") {

            window.location.reload();

          } else if (r.msg == "Fail") {

            alert(r.msg);

          } else if (r.msg == "No Data") {
            alert(r.msg);

          } else {
            alert(r.msg);
          }
          //alert(r.msg);
          // window.location.reload();

        },
        error: function () {
          alert(r.msg);
        }
      });
    });
  });

</script>
