@model IEnumerable<TME.Models.User>

@{
    ViewData["Title"] = "Manage User";
}


<style>
  .modal-lg {
    max-width: 60% !important;
  }
</style>




<div id="wrapper">
  <!-- Top Bar Start -->
  <!-- ============================================================== -->
  @await Html.PartialAsync("_LayoutHeader")
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">

      <div class="container-fluid">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <h4 class="page-title">Manage User</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Manager User</a></li>
              </ol>
            </div>
            <div class="col-sm-6">
              <div class="float-right d-none d-md-block">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg" aria-expanded="false">
                    + Add User
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item"
                                                           href="#">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <!-- Begining of the modal-->
        <!--  Modal content for the above example -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                  Add User
                </h5><button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  ×
                </button>
              </div>
              <div class="modal-body">

                <form asp-action="CreateUser" method="post">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row ">
                          <div class="form-group col-md-12">
                            <label>Full Name</label>
                            <input id="Name" name="Name" type="text" class="colorpicker-default form-control" placeholder="Enter your Fullname...">
                          </div>
                        </div>

                        <div class="row ">
                          <div class="form-group col-md-8">
                            <label>Email</label>
                            <input id="Email" name="Email" type="email" class="colorpicker-default form-control" placeholder="name@sample.com">
                          </div>
                          @*<div class="form-group col-md-4">
                              <label>Phone Number</label>
                              <input id="PhoneNumber" name="PhoneNumber" type="text" class="colorpicker-default form-control" placeholder="Mobile Number">
                            </div>*@
                        </div>
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label>Password</label>
                            <input id="Password" name="Password" type="text" class="colorpicker-default form-control" value="TMEUser123." placeholder="Password">
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-md-6">
                            <label>User Role</label>
                            <select id="UserRole" name="UserRole" class="form-control">
                              <option value="User">User</option>
                              <option value="Admin">Admin</option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add User</button>
                    </div>

                  </div>

                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- End of the Modal-->
        <!-- end row -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="mt-0 header-title"></h4>



                @*<div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="mt-0 header-title m-b-20"></h4>
                                  <form class="repeater" enctype="multipart/form-data">
                                      <div data-repeater-list="group-a">
                                          <div data-repeater-item class="row">
                                              <div class="form-group col-lg-3"></div>
                                              <div class="form-group col-lg-6">
                                                  <label for=""></label> <input type="text" id="name" placeholder=" To search, type name, company name or email and press Enter ......" class="form-control">
                                              </div>

                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>*@

                <!-- end row -->
                @*<p class="text-muted m-b-30">
                      DataTables has most features enabled by default, so all
                      you need to do to use it with your own tables is to call the construction
                      function: <code>$().DataTable();</code>.
                  </p>*@
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Roles</th>
                      <th>IsActive</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model)
                                      {
                    <tr>
                      <td>@item.Name</td>
                      <td>@item.Email</td>
                      <td>@item.UserRole</td>

                      <td> @item.Status</td>
                      <td>
                        @if ( item.Status != null)
                                            {
                        <a asp-action="#" class="btn btn-info">Edit</a>
                        <a asp-action="#" class="btn btn-warning">Deactivate</a>

                                            }

                        @*<a asp-action="#" class="btn btn-danger">Delete</a>*@
                      </td>
                    </tr>

                                      }

                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- container-fluid -->
    </div>
  </div>
</div>


<!-- jQuery  -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/jquery.slimscroll.js"></script>
<script src="~/assets/js/waves.min.js"></script>

<script src="~/plugins/chartist/js/chartist.min.js"></script>
<script src="~/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script><!-- peity JS -->
<script src="~/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="~/assets/pages/dashboard.js"></script><!-- App js -->
<script src="~/assets/js/app.js"></script>

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script><!-- Buttons examples -->
<script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/jszip.min.js"></script>
<script src="~/plugins/datatables/pdfmake.min.js"></script>
<script src="~/plugins/datatables/vfs_fonts.js"></script>
<script src="~/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/plugins/datatables/buttons.print.min.js"></script>
<script src="~/plugins/datatables/buttons.colVis.min.js"></script><!-- Responsive examples -->
<script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script><!-- Datatable init js -->
<script src="assets/js/app.js"></script>

<script src="~/assets/pages/datatables.init.js"></script>



